@page
@model PX_Project_Version_3.Pages.CreateNewThemeForEventModel

@{
    ViewData["Title"] = "CreateNewThemeForEvent";
}

<h1>CreateNewThemeForEvent</h1>

<h4>Theme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Theme.ThemeName" class="control-label"></label>
                <input asp-for="Theme.ThemeName" class="form-control" />
                <span asp-validation-for="Theme.ThemeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme.ThemeType" class="control-label"></label>
                <input asp-for="Theme.ThemeType" class="form-control" />
                <span asp-validation-for="Theme.ThemeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>