@page
@model PX_Project_Version_3.Pages.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/master.css">
</head>
<hr />

<div style="text-align: center">
    <h1>Register</h1>

    <div class="banner">
        <img src="~/lib/images/InfoTrackRegister.png"
             style="width:75%">
    </div>

    <h4 style="color:red">@Model.Message</h4>
    <br />
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label">Username</label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label">Full Name</label>
                <input asp-for="User.FullName" class="form-control" />
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="marginButton">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-primary">Return to Sign In Page</a>
            </div>
        </form>
    </div>
</div>
