@page
@model PX_Project_Version_3.Pages.TeamPresentations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TeamPresentation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamPresentation.TeamPresentationId" />
            <div class="form-group">
                <label asp-for="TeamPresentation.TeamID" class="control-label"></label>
                <input asp-for="TeamPresentation.TeamID" class="form-control" />
                <span asp-validation-for="TeamPresentation.TeamID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamPresentation.FileName" class="control-label"></label>
                <input asp-for="TeamPresentation.FileName" class="form-control" />
                <span asp-validation-for="TeamPresentation.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamPresentation.TeamName" class="control-label"></label>
                <input asp-for="TeamPresentation.TeamName" class="form-control" />
                <span asp-validation-for="TeamPresentation.TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamPresentation.EventID" class="control-label"></label>
                <input asp-for="TeamPresentation.EventID" class="form-control" />
                <span asp-validation-for="TeamPresentation.EventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
