@page
@model PX_Project_Version_3.Pages.AppConditions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AppCondition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppCondition.AppConditionId" />
            <div class="form-group">
                <label asp-for="AppCondition.AdminID" class="control-label"></label>
                <input asp-for="AppCondition.AdminID" class="form-control" />
                <span asp-validation-for="AppCondition.AdminID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppCondition.AdminName" class="control-label"></label>
                <input asp-for="AppCondition.AdminName" class="form-control" />
                <span asp-validation-for="AppCondition.AdminName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppCondition.EventID" class="control-label"></label>
                <input asp-for="AppCondition.EventID" class="form-control" />
                <span asp-validation-for="AppCondition.EventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppCondition.ThemeID" class="control-label"></label>
                <input asp-for="AppCondition.ThemeID" class="form-control" />
                <span asp-validation-for="AppCondition.ThemeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppCondition.VotesAllowed" class="control-label"></label>
                <input asp-for="AppCondition.VotesAllowed" class="form-control" />
                <span asp-validation-for="AppCondition.VotesAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppCondition.MemberPerTeam" class="control-label"></label>
                <input asp-for="AppCondition.MemberPerTeam" class="form-control" />
                <span asp-validation-for="AppCondition.MemberPerTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppCondition.AppStatus" class="control-label"></label>
                <input asp-for="AppCondition.AppStatus" class="form-control" />
                <span asp-validation-for="AppCondition.AppStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
